.main{
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    height: fit-content;
    position: relative;
  }

.pageGradient{
    background: white;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.input{
    font-family: 'Poppins', sans-serif;
    width: 48%;
    position: relative;
  }

  .inputLarge{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: relative;
  }
  
  .input > input{
    width: 100%;
    background-color: white;
    border-radius: 1vw;
    padding: 0.9vw 1vw;
    border: 1px solid #B4B4B4;
    font-size: 1vw;
    color: #2C2F34;
    padding-top: 1.2vw;
    font-family: 'Poppins', sans-serif;
  }
  
   .input > input:placeholder-shown + h2{
    position: absolute;
    left: 1vw;
    top: 2.6vw;
    text-transform: uppercase;
    color: #B4B4B4;
    font-size: 1vw;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
  
  }
   .input > input:focus {
  
  background-color: rgba(180,180,180,0.3);
  outline: none;
  border: none;
    }
   .input > input:focus + h2{
  
  font-size: 0.8vw;
  top: 2vw;
  font-family: 'Poppins', sans-serif;
  }
  
   .input > input + h2{
   
    font-size: 0.8vw;
    position: absolute;
    left: 1vw;
    top: 2vw;
    text-transform: uppercase;
    color: #B4B4B4;
    font-family: 'Poppins', sans-serif;
    }
  
   .input{
      margin-bottom: 2vh;
    }
  
  
    .inputContainer > button{
      width: 40%;
      background-color: #FDC316;
      border-radius: 100vw;
      padding: 1vw 2vw;
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.5s;
    }
  
    .inputContainer > button:hover{
      opacity: 1;
    }
  
    .inputContainer > button > h2{
      color: white;
      text-transform: uppercase;
      font-size: 1.5vw;
      font-family: 'Poppins', sans-serif;
    }
  
    .signUp{
      display: flex;
      flex-direction: row;
      width: 90%;
      justify-content: center;
      align-items: center;
      margin-top: 2vh;
    }
  
    .signUp > h2{
      font-family: 'Poppins', sans-serif;
      color: #2C2F34;
      font-size: 1vw;
    }
  
    .signUp > button{
      font-family: 'Poppins', sans-serif;
      color: #FDC316;
      font-size: 1vw;
      cursor: pointer;
      margin-left: 0.5vw;
      transition: all 0.2s;
      border-bottom: none;
    }
  
    .signUp > button:hover{
      border-bottom: 1px solid #FDC316;
    }
  
    .inputContainer{
      
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 10vh;
    }
  
    .inputContainer > .input > h3{
      font-family: 'Poppins', sans-serif;
      color: #2C2F34;
      font-size: 1vw;
    }
  
    .inputMonth{
   
      width: 30%;
      margin-bottom: 0;
    }
  
    .inputGroup{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
   
      
       .inputMonth > input + h2{
       
        font-size: 0.8vw;
        position: absolute;
        left: 1vw;
        top: 0.5vw !important;
        text-transform: uppercase;
        color: #B4B4B4;
        font-family: 'Poppins', sans-serif;
        }
  
        .inputMonth > input:placeholder-shown + h2{
          position: absolute;
          left: 1vw;
          top: 1.2vw !important;
          text-transform: uppercase;
          color: #B4B4B4;
          font-size: 1vw;
          transition: all 0.5s;
          font-family: 'Poppins', sans-serif;
        
        }
        .inputMonth > input:focus + h2{
  
          font-size: 0.8vw !important;
          top: 0.5vw !important;
          font-family: 'Poppins', sans-serif;
      
          }

          .input > textarea{
            width: 100%;
            background-color: white;
            border-radius: 1vw;
            padding: 0.9vw 1vw;
            resize: none;
            height: 20vh;
            border: 1px solid #B4B4B4;
            font-size: 1vw;
            color: #2C2F34;
            padding-top: 1.2vw;
            font-family: 'Poppins', sans-serif;
          }
          
           .input > textarea:placeholder-shown + h2{
            position: absolute;
            left: 1vw;
            top: 2.6vw;
            text-transform: uppercase;
            color: #B4B4B4;
            font-size: 1vw;
            transition: all 0.5s;
            font-family: 'Poppins', sans-serif;
          
          }
           .input > textarea:focus {
          
          background-color: rgba(180,180,180,0.3);
          outline: none;
          border: none;
            }
           .input > textarea:focus + h2{
          
          font-size: 0.8vw;
          top: 2vw;
          font-family: 'Poppins', sans-serif;
          }
          
           .input > textarea + h2{
           
            font-size: 0.8vw;
            position: absolute;
            left: 1vw;
            top: 2vw;
            text-transform: uppercase;
            color: #B4B4B4;
            font-family: 'Poppins', sans-serif;
            }
  
  @media (min-width: 768px) and (max-width: 1024px) {
  
  
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  
  
  
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {


  
   .input{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    position: relative;
  }
  
  .input > input{
    width: 100%;
    background-color: white;
    border-radius: 1vw;
    padding: 0.9vw 2vw;
    border: 1px solid #B4B4B4;
    font-size: 1vw;
    color: #2C2F34;
    padding-top: 1.2vw;
    font-family: 'Poppins', sans-serif;
  }
  
   .input > input:placeholder-shown + h2{
    position: absolute;
    left: 2vw;
    top: 1.1vw;
    text-transform: uppercase;
    color: #B4B4B4;
    font-size: 1vw;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
  
  }
   .input > input:focus {
  
  background-color: rgba(180,180,180,0.3);
  outline: none;
  border: none;
    }
   .input > input:focus + h2{
  
  font-size: 0.8vw;
  top: 0.3vw;
  font-family: 'Poppins', sans-serif;
  }
  
   .input > input + h2{
   
    font-size: 0.8vw;
    position: absolute;
    left: 2vw;
    top: 0.3vw;
    text-transform: uppercase;
    color: #B4B4B4;
    font-family: 'Poppins', sans-serif;
    }
  
   .input{
      margin-bottom: 2vh;
    }
  
  
    .inputContainer > button{
      width: 40%;
      background-color: #FDC316;
      border-radius: 100vw;
      padding: 1vw 2vw;
      cursor: pointer;
      opacity: 0.8;
      transition: all 0.5s;
    }
  
    .inputContainer > button:hover{
      opacity: 1;
    }
  
    .inputContainer > button > h2{
      color: white;
      text-transform: uppercase;
      font-size: 1.5vw;
      font-family: 'Poppins', sans-serif;
    }
  
    .signUp{
      display: flex;
      flex-direction: row;
      width: 90%;
      justify-content: center;
      align-items: center;
      margin-top: 2vh;
    }
  
    .signUp > h2{
      font-family: 'Poppins', sans-serif;
      color: #2C2F34;
      font-size: 1vw;
    }
  
    .signUp > button{
      font-family: 'Poppins', sans-serif;
      color: #FDC316;
      font-size: 1vw;
      cursor: pointer;
      margin-left: 0.5vw;
      transition: all 0.2s;
      border-bottom: none;
    }
  
    .signUp > button:hover{
      border-bottom: 1px solid #FDC316;
    }
  
    .inputMonth{
   
      width: 30%;
      margin-bottom: 0;
    }
  
    .inputGroup{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
   
      
       .inputMonth > input + h2{
       
        font-size: 1.8vw !important;
        position: absolute;
        left: 2.5vw;
        top: 0.6vw !important;
        text-transform: uppercase;
        color: #B4B4B4;
        font-family: 'Poppins', sans-serif;
        }
  
        .inputMonth > input:placeholder-shown + h2{
          position: absolute;
          left: 2.5vw;
          top: 3vw !important;
          text-transform: uppercase;
          color: #B4B4B4;
          font-size: 3vw !important;
          transition: all 0.5s;
          font-family: 'Poppins', sans-serif;
        
        }
        .inputMonth > input:focus + h2{
  
          font-size: 1.8vw !important;
          top: 0.6vw !important;
          font-family: 'Poppins', sans-serif;
      
          }
  
    
  }
  
  @media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  
  
  
  
  
    
  }
  @media (min-width: 320px) and (max-width: 480px) {

   .input{
  
    width: 100%;
   
  }
  
  .input > input{
  
    border-radius: 2vw;
    padding: 2.5vw 3vw;
    font-size: 3vw;
    padding-top: 3vw;
  }
  
   .input > input:placeholder-shown + h2{
    left: 2.5vw;
    top: 7.5vw;
    font-size: 3vw;
  
  }
  
   .input > input:focus + h2{
  
  font-size: 1.8vw;
  top: 6vw;
  
  }
   .input > input + h2{
   
    font-size: 1.8vw;
    left: 2.5vw;
    top: 6vw;
  
    }

    .input > textarea{
  
        border-radius: 2vw;
        padding: 2.5vw 3vw;
        font-size: 3vw;
        padding-top: 3vw;
      }
      
       .input > textarea:placeholder-shown + h2{
        left: 2.5vw;
        top: 7.5vw;
        font-size: 3vw;
      
      }
      
       .input > textarea:focus + h2{
      
      font-size: 1.8vw;
      top: 6vw;
      
      }
       .input > textarea + h2{
       
        font-size: 1.8vw;
        left: 2.5vw;
        top: 6vw;
      
        }
  
   .input{
      margin-bottom: 2vh;
    }
  
  
    .inputContainer > button{
      width: 100%;
      padding: 2vw 4vw;
    }
  
  
  
    .inputContainer > button > h2{
   
      font-size: 4vw;
  
    }
  
    .signUp{
      width: 100%;
      margin-top: 2vh;
    }
  
    .signUp > h2{
      font-family: 'Poppins', sans-serif;
      color: #2C2F34;
      font-size: 2.5vw;
    }
  
    .signUp > button{
      font-family: 'Poppins', sans-serif;
      color: #FDC316;
      font-size: 2.5vw;
      cursor: pointer;
      margin-left: 0.5vw;
      transition: all 0.2s;
      border-bottom: none;
    }
  
    .signUp > button:hover{
      border-bottom: 1px solid #FDC316;
    }
  
    .inputContainer{
      
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .inputContainer > .input > h3{
  
      font-size: 3vw;
    }
  
    .inputMonth{
   
      width: 30%;
      margin-bottom: 0;
    }
  
    .inputGroup{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
   
      
       .inputMonth > input + h2{
       
        font-size: 1.8vw !important;
        position: absolute;
        left: 2.5vw;
        top: 0.6vw !important;
        text-transform: uppercase;
        color: #B4B4B4;
        font-family: 'Poppins', sans-serif;
        }
  
        .inputMonth > input:placeholder-shown + h2{
          position: absolute;
          left: 2.5vw;
          top: 3vw !important;
          text-transform: uppercase;
          color: #B4B4B4;
          font-size: 3vw !important;
          transition: all 0.5s;
          font-family: 'Poppins', sans-serif;
        
        }
        .inputMonth > input:focus + h2{
  
          font-size: 1.8vw !important;
          top: 0.6vw !important;
          font-family: 'Poppins', sans-serif;
      
          }
  
  }
  
  @media (min-width: 320px) and (max-width: 480px) and (orientation: landscape)  {
  
  
  }