@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main{
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    height: fit-content;
    position: relative;
  }

.page{
    width: calc(100vw - 20px);
    min-height: 100vh;
}

.destinationsContainer{
    width: 100%;
    height: fit-content;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;

  
  }

  .notActive{
    margin-top: 5vh;
    border-radius: 100vw;
    color: #B4B4B4;
    border: 1px solid #B4B4B4;
    padding: 0.5vw 1vw;
    font-size: 1vw;
  }

  .overlay{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-color: rgba(253,195,22,0.2);
    z-index: 40;
    visibility: visible;
    opacity: 1;
    transition: all 1s;
  }

  .overlayHidden{
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
  }
  .modal{
    width: 50vw;
    height: 100vh;
    background-color: white;
    float: right;
position: relative;
box-shadow: -10px 0px 40px 14px rgba(0, 0, 0, 0.10);

  }

  .close{
    width: 2vw;
    height: 2vw;
    position: absolute;
    right: 2vw;
    top: 2vw;
    opacity: 0.8;
    cursor: pointer;
    transition: all 1s;
  }

  .close:hover{
    width: 2.5vw;
    height: 2.5vw;
    opacity: 1;
  }


  .overlay .modal{
    margin-right: 0;
    transition: all 2s;
  }

  .overlayHidden .modal{
    margin-right: -100%;
    transition: all 2s;
  }
  .modalContent{
    width: 100%;
    padding: 3vw 2vw;

  }

  .button{
      /* font-family: 'Poppins', sans-serif; */
    text-transform: uppercase; 
    background-color: #FDC316;
    padding: 1vw 3vw;
    border-radius: 100vw;
    font-size: 1vw;
    color: white;
    /* margin-top: 2vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 1s;
  
  }

  .button > h2{
    font-size: 1vw !important;
    color: white !important;
  }
  
  .button > img{
    width:  0;
    margin-left: 0.5vw;
    visibility: hidden;
    transition: all 1s;
  }
  .button:hover > img{
    width:  1.5vw;
    margin-left: 0.5vw;
    visibility: visible;
  }

  .dateContent{
    width: 100%;
  
  }

  .month{
    background-color: rgba(180, 180, 180, 0.19);;
    padding: 0.5vw 2vw;
  }

  .month h4{
      /* font-family: 'Poppins', sans-serif; */
    color: #2C2F34;
    opacity: 0.75;
    font-size: 1vw;
    font-weight: 500;
  }


  .modalContent h3{
    color: #000;
      /* font-family: 'Poppins', sans-serif; */
font-size: 1vw;
text-transform: uppercase;
font-style: normal;
font-weight: 500;


  }

  .item{

    display: flex;
    flex-direction: row;
    padding: 1vw 2vw;
    justify-content: space-between;
      /* font-family: 'Poppins', sans-serif; */
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
  }


  .item:hover{
    background-color: #FDC316;
  }

  .item:hover > .button{
    background-color: white;
  }

  .item:hover > .button > h2{
   color: #FDC316 !important;
  }
  .modalContent > h2{
    color: #000;
      /* font-family: 'Poppins', sans-serif; */
font-size: 2vw;
font-style: normal;
font-weight: 500;
opacity: 0.75;
margin-bottom: 2vh;


  }
  
  .destinationCard{
    width: 80vw;
    height: 20vw;
    background-color: white;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 25px 40px 7px rgba(0, 0, 0, 0.05); 
    transition: all 0.5s;
    margin-bottom: 10vh;
  }
  
  .destinationCard:nth-of-type(n+4){
    margin-top: 4vh;
  }
  
  .destinationCard > img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .whiteGradient{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
    border-radius: 20px;
    z-index: 1;


  }
  
  .cardInfo{
    position: absolute;
    z-index: 2;
    top:5%;
    left:32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    height: fit-content;
    width: 65%;

  }

  .price{
    height: 100%;
    width: 2.5%;
    background-color: #FDC316;
    position: absolute;
    top:0;
    right: 0;
    z-index: 15;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 1s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      /* font-family: 'Poppins', sans-serif; */
    color: #2C2F34;
  }

  .price h1{
    font-size: 4vw;
    min-width: fit-content;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  .price h2{
    font-size: 0.8vw;
    min-width: fit-content;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  .price button{
    border-radius: 100vw;
    border: 2px solid #2C2F34;
    font-size: 1.2vw;
    padding: 0.5vw 0;
    width: 10vw;
    margin-top: 2vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }

  .destinationCard:hover .price h1, .destinationCard:hover .price h2, .destinationCard:hover .price button{
    visibility: visible;
    opacity: 1;
  }

  .destinationCard:hover .price{
 width: 25%;
  }
  
  .cardInfo h2{
    color: #2C2F34;
    margin: 0;
    font-size: 1.5vw;
    opacity: 1;
  }
  

  
  .whiteGradientNotActive{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);
    border-radius: 20px;
    z-index: 1;
  }
  
  .buttonComingSoon{
    border: 2px solid #B4B4B4;
    background-color: rgba(180, 180, 180, 0.39) !important;
  color: #B4B4B4 !important;
  
  }
  
  .destinationCard:hover:has(.whiteGradient){
    box-shadow: 0px 25px 40px 7px rgba(0, 0, 0, 0.15); 
  }
  
  .destinationCard:has(.whiteGradient){
    cursor: pointer;
  }




  
  @media (min-width: 768px) and (max-width: 1024px) {
    .page{
      width: 100vw;
    }

    .destinationCard{
      margin-bottom: 5vh;

    }
    .notActive{
      margin-top: 2vh;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .page{
      width: 100vw;
    }
  
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    .page{
      width: 100vw;
    }
    .destinationCard{
      width: 80vw;
      height: 100vw;
      margin-bottom: 10vh;

    }

    .destinationCard > img {
      width: 100%;
      height: 50%;
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .whiteGradient{
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
    }

    .whiteGradientNotActive{
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

    }

  

    .price{
      height: 10%;
      width: 100%;
      top:auto;
      bottom: 0;
      border-radius: 0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .destinationCard:hover .price{
      height: 35%;
      width: 100%;
       }

       .cardInfo{
        top:35%;
        left:5%;
        width: 100%;
        color: #2C2F34;
    
      }

      .cardInfo h3{
        font-size: 8vw;
        line-height: 1.1;
      }
      .cardInfo h2{
        font-size: 5vw;
        line-height: 1.1;
      }

      .price h1{
        font-size: 10vw;
      }
      .price h2{
        font-size: 3vw;
      }

      .price button{
        font-size: 3vw;
        padding: 0.5vw 2vw;
        width: fit-content;
        margin-top: 1vh;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }
  
      .close{
        width: 3vw;
        height: 3vw;
        top: 3vw;
        right: 3vw;
      }

      .button >h2{
        font-size: 1.5vw !important;
      }

      .item > h5{
        font-size: 1.5vw;
      }

      .item > h2{
        font-size: 1.5vw;
      }

      .close:hover{
        width: 3.5vw;
        height: 3.5vw;
      }

      .modalContent h3{
        font-size: 2vw;
      }

      .modalContent h2{
        font-size: 3vw;

      }

      .month h4{
        font-size: 1.5vw;
      }

      .month{
        padding: 2vw 4vw;
      }

      .item{
        padding: 2vw 3vw;
      }
  }
  
  @media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    .page{
      width: 100vw;
    }
    .destinationCard{
      width: 90vw;
      height: 30vw;
      margin-bottom: 10vh;

    }

    .destinationCard > img {
      width: 40%;
      height: 100%;
      border-radius: 20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .whiteGradient{
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
    }

    .whiteGradientNotActive{
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

    }

    .price{
      height: 100%;
      width: 5%;
      top:auto;
      bottom: 0;
      border-radius: 0;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
    }

    .destinationCard:hover .price{
      height: 100%;
      width: 30%;
       }

       .cardInfo{
        top:10%;
        left:30%;
        width: 90%;
        color: #2C2F34;
    
      }

      .cardInfo h3{
        font-size: 2vw;
        line-height: 1.1;
      }
      .cardInfo h2{
        font-size: 4vw;
        line-height: 1.1;
      }

      .price h1{
        font-size: 5vw;
      }
      .price h2{
        font-size: 2vw;
      }

      .price button{
        font-size: 2vw;
        padding: 0.5vw 2vw;
        width: fit-content;
        margin-top: 1vh;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }
  
      .close{
        width: 3vw;
        height: 3vw;
        top: 3vw;
        right: 3vw;
      }

      .button >h2{
        font-size: 1.5vw !important;
      }

      .item > h5{
        font-size: 1.5vw;
      }

      .item > h2{
        font-size: 1.5vw;
      }

      .close:hover{
        width: 3.5vw;
        height: 3.5vw;
      }

      .modalContent h3{
        font-size: 2vw;
      }

      .modalContent h2{
        font-size: 3vw;
      }

      .month h4{
        font-size: 1.5vw;
      }

      .month{
        padding: 2vw 4vw;
      }

      .item{
        padding: 2vw 3vw;
      }
    
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .page{
      width: 100vw;
    }
    .destinationCard{
      width: 80vw;
      height: 100vw;
      margin-bottom: 10vh;

    }

    .destinationCard > img {
      width: 100%;
      height: 50%;
      border-radius: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .whiteGradient{
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
    }

    .whiteGradientNotActive{
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

    }

    .price{
      height: 10%;
      width: 100%;
      top:auto;
      bottom: 0;
      border-radius: 0;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .destinationCard:hover .price{
      height: 35%;
      width: 100%;
       }

       .cardInfo{
        top:35%;
        left:5%;
        width: 100%;
        color: #2C2F34;
    
      }

      .cardInfo h3{
        font-size: 8vw;
        line-height: 1.1;
      }
      .cardInfo h2{
        font-size: 5vw;
        line-height: 1.1;
      }

      .price h1{
        font-size: 10vw;
      }
      .price h2{
        font-size: 3vw;
      }

      .price button{
        font-size: 3vw;
        padding: 0.5vw 2vw;
        width: fit-content;
        margin-top: 1vh;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }

      .modal{
        width: 100vw;
      }

      .close{
        width: 5vw;
        height: 5vw;
        top: 5vw;
        right: 5vw;
      }

      .button >h2{
        font-size: 3vw !important;
      }

      .item > h5{
        font-size: 3vw;
      }

      .item > h2{
        font-size: 3vw;
      }

      .close:hover{
        width: 5.5vw;
        height: 5.5vw;
      }

      .modalContent h3{
        font-size: 4vw;
      }

      .modalContent h2{
        font-size: 6vw;
      }

      .month h4{
        font-size: 4vw;
      }

      .month{
        padding: 2vw 4vw;
      }

      .item{
        padding: 4vw 5vw;
      }
  
      .notActive{
        font-size: 4vw;
        padding: 1vw 3vw;
      }
  }
  
  @media (min-width: 320px) and (max-width: 480px) and (orientation: landscape)  {
      .page{
      width: 100vw;
    }
    .destinationCard{
      width: 90vw;
      height: 40vw;
      margin-bottom: 10vh;

    }

    .destinationCard > img {
      width: 40%;
      height: 100%;
      border-radius: 20px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
    }

    .whiteGradient{
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
    }

    .whiteGradientNotActive{
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

    }

    .price{
      height: 100%;
      width: 5%;
      top:auto;
      bottom: 0;
      border-radius: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .destinationCard:hover .price{
      height: 100%;
      width: 40%;
       }

       .cardInfo{
        top:10%;
        left:35%;
        width: 100%;
        color: #2C2F34;
    
      }

      .cardInfo h3{
        font-size: 3vw;
        line-height: 1.1;
      }
      .cardInfo h2{
        font-size: 6vw;
        line-height: 1.1;
      }

      .price h1{
        font-size: 8vw;
      }
      .price h2{
        font-size: 2vw;
      }

      .price button{
        font-size: 2vw;
        padding: 0.5vw 2vw;
        width: fit-content;
        margin-top: 3vh;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }
  
  
  }