@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main{
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    height: fit-content;
    position: relative;
  }

  .buttonFixed{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    z-index: 10000;
  }

.pageGradient{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.pageGradient > img{
    width:20vw;
    height: auto;
    object-fit: contain;
}

.pageGradient > p{
    font-size: 1.2vw;
    color: #2C2F34;
      /* font-family: 'Poppins', sans-serif; */
    opacity: 0.75;
    max-width: 60%;
    text-align: center;
}

.column1 > p{
    font-size: 1.2vw;
    color: #2C2F34;
      /* font-family: 'Poppins', sans-serif; */
    opacity: 0.75;
    text-align: left;  
}
.button{
      /* font-family: 'Poppins', sans-serif; */
    text-transform: uppercase; 
    background-color: #FDC316;
    padding: 1vw 3vw;
    border-radius: 100vw;
    font-size: 1.1vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 1s;
  
  }
  
  .button > img{
    width:  0;
    margin-left: 0.5vw;
    visibility: hidden;
    transition: all 1s;
  }
  .button:hover > img{
    width:  1.5vw;
    margin-left: 0.5vw;
    visibility: visible;
  }


  .videoHome{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .row{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5vh 0;
   
  }

  .column1{
   width:100%;

  }

  .column2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
    justify-content: space-between;
  }

  

  .column2 > .imgColumn >img{
    width: 15vw;
    height: 15vw;
  }

  .column2 > .imgColumn >img:first-of-type{
    margin-bottom: 2vw;
  }

  .column2 >img.imgBig{
    width: 32vw;
    height: 32vw;
  }

  .listContainer{
    width: calc(100vw - 80px);
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 0vh;
}

.listContainerTitle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.listContainerTitle h3{
    font-size: 6vw;
    text-align: left;
    line-height: 1;
    color: #2C2F34;
    opacity: 0.75;
    margin: 0 !important;
}

.listContainerTitle h2{
    font-size: 5vw;
    text-transform: uppercase;
    color: #FDC316;
    opacity: 0.75;
    margin: 0 !important;
}

.list{
    width: 50%;
    border-left: 2px solid #2C2F34;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}

.listItem{
    font-size: 1.2vw;
    color: #2C2F34;
    text-transform: capitalize;
    padding: 1vw 0;
    border-bottom: 2px solid #2C2F34;
    width: 100%;
    text-align: left;
      /* font-family: 'Poppins', sans-serif; */
    
}

.listItem:last-of-type{
border-bottom: none;
}


/***************************************************
 * Generated by SVG Artista on 8/21/2023, 1:36:53 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem1 {
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-1 0.7s ease 0.8s both;
          animation: animate-svg-fill-1 0.7s ease 0.8s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem2 {
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-2 0.7s ease 1.5s both;
          animation: animate-svg-fill-2 0.7s ease 1.5s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(253, 195, 22);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(253, 195, 22);
  }
}

.svgElem3 {
  fill-rule: evenodd;
  fill: #fdc316;
  -webkit-animation: animate-svg-fill-3 0.7s ease 2.2s both;
          animation: animate-svg-fill-3 0.7s ease 2.2s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem4 {
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-4 0.7s ease 2.8999999999999995s both;
          animation: animate-svg-fill-4 0.7s ease 2.8999999999999995s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(233, 81, 28)
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(233, 81, 28)
  }
}

.svgElem5 {
  fill:#e9511c;
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-5 0.7s ease 3.5999999999999996s both;
          animation: animate-svg-fill-5 0.7s ease 3.5999999999999996s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem6 {
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-6 0.7s ease 4.3s both;
          animation: animate-svg-fill-6 0.7s ease 4.3s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(175, 18, 128)
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(175, 18, 128)
  }
}

.svgElem7 {
  fill:#af1280;
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-7 0.7s ease 4.999999999999999s both;
          animation: animate-svg-fill-7 0.7s ease 4.999999999999999s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill:  rgb(0, 0, 0);
  }
}

.svgElem8 {
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-8 0.7s ease 5.699999999999999s both;
          animation: animate-svg-fill-8 0.7s ease 5.699999999999999s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(210, 0, 127)
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(210, 0, 127)
  }
}

.svgElem9 {
  fill-rule: evenodd;
fill:#d2007f;
  -webkit-animation: animate-svg-fill-9 0.7s ease 6.3999999999999995s both;
          animation: animate-svg-fill-9 0.7s ease 6.3999999999999995s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem10 {
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-10 0.7s ease 7.1s both;
          animation: animate-svg-fill-10 0.7s ease 7.1s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 102, 178)
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 102, 178)
  }
}

.svgElem11 {
  fill-rule: evenodd;
  fill: #0066b2;
  -webkit-animation: animate-svg-fill-11 0.7s ease 7.8s both;
          animation: animate-svg-fill-11 0.7s ease 7.8s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem12 {
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-12 0.7s ease 8.5s both;
          animation: animate-svg-fill-12 0.7s ease 8.5s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(11, 174, 158)
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(11, 174, 158)
  }
}

.svgElem13 {
  fill-rule: evenodd;
  fill: #0bae9e;
  -webkit-animation: animate-svg-fill-13 0.7s ease 9.2s both;
          animation: animate-svg-fill-13 0.7s ease 9.2s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem14 {

  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-14 0.7s ease 9.9s both;
          animation: animate-svg-fill-14 0.7s ease 9.9s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 165, 224)
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 165, 224)
  }
}

.svgElem15 {
  fill-rule: evenodd;
fill: #00a5e0;
  -webkit-animation: animate-svg-fill-15 0.7s ease 10.6s both;
          animation: animate-svg-fill-15 0.7s ease 10.6s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 0);
  }
}

.svgElem16 {
  
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-16 0.7s ease 11.3s both;
          animation: animate-svg-fill-16 0.7s ease 11.3s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(253, 195, 22);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(253, 195, 22);
  }
}

.svgElem17 {
  fill: #fdc316;
  fill-rule: evenodd;
  -webkit-animation: animate-svg-fill-17 0.7s ease 12s both;
          animation: animate-svg-fill-17 0.7s ease 12s both;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .imageAbsolute{
      width:300vw;
      height: 100vw;
      object-fit: cover;
      
    }
    
    .yellowText{
      padding-top: 5vh;
      height: 70vh;
    }
  
    .yellowText h2{
      font-size: 10vw;
    }
    .yellowText h5{
      margin-top: 2vh;
    }
  
    .center{
      font-size: 2vw;
    }
      
    }
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    }
  
    @media (min-width: 768px) and (max-width: 1024px)  {
      .center h3{
          font-size: 2vw;
      }
  
      .listItem{
          font-size: 2vw;
      }
  }
    
    @media (min-width: 481px) and (max-width: 767px) {
  
      .center h3{
          font-size: 2vw;
      }
  
    }
    
    @media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .center h3{
          font-size: 4vw;
      }
  .pageGradient{
      padding: 5vw;
  }
  
  .yellowText h2{
      font-size: 15vw;
  }
  
  .yellowText{
      padding-top: 5vh;
  }
  .yellowText h5{
      font-size: 4vw;
      margin-top: 2vh;
  }
  
  .imageAbsolute{
      opacity: 0.2;
  }
  
  .listContainerTitle h3{
  font-size: 14vw;
  }
  
  .listContainerTitle h2{
      font-size: 15vw;
      }
  .listContainer{
      width: 90vw;
      flex-direction: column;
  }
  
  
  .listContainerTitle{
      width: 100%;
  }
  
  .list{
      width: 100%;
      border-left: none;
      padding-left: 0;
  
  }
  
  .listItem{
      font-size: 4vw;
      padding: 3vw 0;
  }
  
  .slider{
      height:  60vh;
  }
  
  .slider img{
      object-fit: cover;
      width: 90vw;
      min-width: 90vw;
      height: 60vh;
      min-height: 60vh;
  
  }
  .left h2{
      font-size: 8vw;
  }
  
  .left h3{
      font-size: 4vw;
      width: 100%;
  }

  .pageGradient > p{
    font-size: 4vw;
    max-width: 100%;
  }

  .row{
    flex-direction: column;

  }

  .column1{
    width: 100%;
  }

  .column2{
    width: 100%;
    margin-top: 5vh;
  }
  .column1 > p{
    font-size: 4vw;
  }

  .column2 > img{
    width: 100%;
    height: auto;
  }


  .column2 > .imgColumn >img{
    width: 28vw;
    height: 28vw;
  }

  .column2 > .imgColumn >img{
    margin-bottom: 2vw;
  }

  .column2 >img.imgBig{
    width: 59vw;
    height: 59vw;
  }
    }
    
    @media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  
    }
    