.main{
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    height: fit-content;
    position: relative;
  }

.pageGradient{
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.pageGradient > img{
    width:20vw;
    height: auto;
    object-fit: contain;
}

.pageGradient > p{
    font-size: 1.2vw;
    color: #2C2F34;
    font-family: 'Poppins', sans-serif;
    opacity: 0.75;
    max-width: 60%;
    text-align: center;
}

.column1 > p{
    font-size: 1.2vw;
    color: #2C2F34;
    font-family: 'Poppins', sans-serif;
    opacity: 0.75;
    text-align: left;  
}
.button{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase; 
    background-color: #FDC316;
    padding: 1vw 3vw;
    border-radius: 100vw;
    font-size: 1.1vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 1s;
  
  }
  
  .button > img{
    width:  0;
    margin-left: 0.5vw;
    visibility: hidden;
    transition: all 1s;
  }
  .button:hover > img{
    width:  1.5vw;
    margin-left: 0.5vw;
    visibility: visible;
  }


  .videoHome{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5vh 0;
   
  }

  .column1{
   width: 60vw;

  }

  .column2 >img{
    width: 40vw;
    height: 50vw;
  }

  .listContainer{
    width: calc(100vw - 80px);
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
}

.listContainerTitle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.listContainerTitle h3{
    font-size: 6vw;
    text-align: left;
    line-height: 1;
    color: #2C2F34;
    opacity: 0.75;
    margin: 0 !important;
}

.listContainerTitle h2{
    font-size: 5vw;
    text-transform: uppercase;
    color: #FDC316;
    opacity: 0.75;
    margin: 0 !important;
}

.list{
    width: 50%;
    border-left: 2px solid #2C2F34;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}

.listItem{
    font-size: 1.2vw;
    color: #2C2F34;
    text-transform: capitalize;
    padding: 1vw 0;
    border-bottom: 2px solid #2C2F34;
    width: 100%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    
}

.listItem:last-of-type{
border-bottom: none;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .imageAbsolute{
      width:300vw;
      height: 100vw;
      object-fit: cover;
      
    }
    
    .yellowText{
      padding-top: 5vh;
      height: 70vh;
    }
  
    .yellowText h2{
      font-size: 10vw;
    }
    .yellowText h5{
      margin-top: 2vh;
    }
  
    .center{
      font-size: 2vw;
    }
      
    }
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    }
  
    @media (min-width: 768px) and (max-width: 1024px)  {
      .center h3{
          font-size: 2vw;
      }
  
      .listItem{
          font-size: 2vw;
      }
  }
    
    @media (min-width: 481px) and (max-width: 767px) {
  
      .center h3{
          font-size: 2vw;
      }
  
    }
    
    @media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .center h3{
          font-size: 4vw;
      }
  .pageGradient{
      padding: 5vw;
  }
  
  .yellowText h2{
      font-size: 15vw;
  }
  
  .yellowText{
      padding-top: 5vh;
  }
  .yellowText h5{
      font-size: 4vw;
      margin-top: 2vh;
  }
  
  .imageAbsolute{
      opacity: 0.2;
  }
  
  .listContainerTitle h3{
  font-size: 14vw;
  }
  
  .listContainerTitle h2{
      font-size: 15vw;
      }
  .listContainer{
      width: 90vw;
      flex-direction: column;
  }
  
  
  .listContainerTitle{
      width: 100%;
  }
  
  .list{
      width: 100%;
      border-left: none;
      padding-left: 0;
  
  }
  
  .listItem{
      font-size: 4vw;
      padding: 3vw 0;
  }
  
  .slider{
      height:  60vh;
  }
  
  .slider img{
      object-fit: cover;
      width: 90vw;
      min-width: 90vw;
      height: 60vh;
      min-height: 60vh;
  
  }
  .left h2{
      font-size: 8vw;
  }
  
  .left h3{
      font-size: 4vw;
      width: 100%;
  }

  .pageGradient > p{
    font-size: 4vw;
    max-width: 100%;
  }

  .row{
    flex-direction: column;

  }

  .column1{
    width: 100%;
  }

  .column2{
    width: 100%;
    margin-top: 5vh;
  }
  .column1 > p{
    font-size: 4vw;
  }

  .column2 > img{
    width: 100%;
    height: auto;
  }
    }
    
    @media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  
    }
    