@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main{
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    height: fit-content;
    position: relative;
    padding: 10px;
  }

.page{
    width: calc(100vw - 20px);
    min-height: 100vh;
    margin-top: 2vh;
}

.header{
  width:calc(100vw - 20px);
  height: calc(100vh - 20px);


}

.row{
  width: calc(100vw - 20px);
  min-width: calc(100vw - 20px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s;
}

.row2{
  width: calc(100vw - 20px);
  min-width: calc(100vw - 20px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.5s;
}

.optionsContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.item > p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.options{
  display: flex;
  flex-direction: row;
  padding: 0.5vw 2vw;
  /* border-radius: 1vw; */
  border-bottom: 1px solid #2C2F34;
}

.option{
  padding: 0.5vw 0vw;
  background-color: transparent;
  border: 1px solid #2C2F34;
  margin-left: 1vw;
  width: 10vw;
  text-align: center;
  margin-right: 1vw;
  border-radius: 100vw;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.5s;
}

.option:hover{
  opacity: 1;
}

.option.selectedOption{
  background-color: #FDC316;
  opacity: 1;
  border: 1px solid transparent;
}

.option.selectedOption > h2{
  color: #2C2F34;

}
.option >h2{
  font-size: 1vw;
  text-transform: uppercase;
  color: #2C2F34;
  opacity:1;
  

}

.page > .row{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page > .row2{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page > .row > .column{
padding-top: 0;
align-items: flex-start;
justify-content: flex-start;
padding-left: 2vw;

}

.page > .row2 > .column{
  padding-top: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 2vw;
  
  }

.page > .row > .column:last-of-type{
  padding-top: 0;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 2vw;
  
  }
  .page > .row2 > .column:last-of-type{
    padding-top: 0;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 2vw;
    
    }

.page ul{
  list-style: disc;
  margin-left: 2vw;
  font-size: 1vw;
    /* font-family: 'Poppins', sans-serif; */
}

.page p{
  font-size: 1vw;
    /* font-family: 'Poppins', sans-serif; */
  
}

.column{
  width: calc(50% - 5px);
  height: 100%;
  padding-top: 10vh;
  position: relative;
  display: flex;

  flex-direction: column;
  align-items: flex-end;

 
}

.column:first-of-type{
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.modal{
  width: 50vw;
  height: 100vh;
  background-color: white;
  float: right;
position: relative;
box-shadow: -10px 0px 40px 14px rgba(0, 0, 0, 0.10);
overflow: scroll;
-ms-overflow-style: none;  /* Internet Explorer 10+ */
scrollbar-width: none;

}

.modal::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.close{
  width: 2vw;
  height: 2vw;
  position: absolute;
  right: 2vw;
  top: 2vw;
  opacity: 0.8;
  cursor: pointer;
  transition: all 1s;
}

.close:hover{
  width: 2.5vw;
  height: 2.5vw;
  opacity: 1;
}


.overlay .modal{
  margin-right: 0;
  transition: all 2s;
}

.overlayHidden .modal{
  margin-right: -100%;
  transition: all 2s;
}
.modalContent{
  width: 100%;
  padding: 3vw 2vw;

}


.modal .button{
  /* font-family: 'Poppins', sans-serif; */
text-transform: uppercase; 
background-color: #FDC316;
padding: 1vw 3vw;
border-radius: 100vw;
font-size: 1vw;
color: white;
/* margin-top: 2vh; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
transition: all 1s;
margin: 0;

}

.modal .button > h2{
font-size: 1vw !important;
color: white !important;
}

.modal .button  img{
width:  0;
margin-left: 0.5vw;
visibility: hidden;
transition: all 1s;
}
.modal .button:hover  img{
width:  1.5vw;
margin-left: 0.5vw;
visibility: visible;
}

.dateContent{
width: 100%;


}

.month{
background-color: rgba(180, 180, 180, 0.19);;
padding: 0.5vw 2vw;
}

.month h4{
  /* font-family: 'Poppins', sans-serif; */
color: #2C2F34;
opacity: 0.75;
font-size: 1vw;
font-weight: 500;
}


.modalContent h3{
color: #000;
  /* font-family: 'Poppins', sans-serif; */
font-size: 1vw;
text-transform: uppercase;
font-style: normal;
font-weight: 500;


}


.modal  .item{

  display: flex;
  flex-direction: row;
  padding: 1vw 2vw;
  justify-content: space-between;
    /* font-family: 'Poppins', sans-serif; */
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}


.modal .item:hover{
  background-color: #FDC316;
}

.modal  .item:hover > .button{
  background-color: white;
}

.modal  .item:hover > .button > h2{
 color: #FDC316 !important;
}
.modalContent > h2{
  color: #000;
    /* font-family: 'Poppins', sans-serif; */
font-size: 2vw;
font-style: normal;
font-weight: 500;
opacity: 0.75;
margin-bottom: 2vh;


}

.info{

  width: 80%;

  border-bottom: 2px solid #2C2F34;
  padding-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.info >h3{
  font-size: 5vw;
  line-height: 1;
    /* font-family: 'Poppins', sans-serif; */
  color: #2C2F34;
}



.days{
  display: flex;
  flex-direction: row;
}

.day{
  border: 2px solid #2C2F34;
  border-radius: 100vw;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day:first-of-type{
  margin-right: 0.5vw;
}

.day > img{
  height: 50%;
  object-fit: contain;
}

.totalDays{
  display: flex;
  flex-direction: column;
}

.totalDays > h3{
    /* font-family: 'Poppins', sans-serif; */
  font-size: 1vw;
  margin-top: 0.5vw;
  color: #2C2F34;
}


.infoContainer{
  width: 100%;
}

.back{
  border-radius: 100vw;
  opacity: 0.75;
  border: 1px solid #2C2F34;
  color: #2C2F34;
  font-size: 1vw;
  text-transform: uppercase;
    /* font-family: 'Poppins', sans-serif; */
  padding: 0.5vw 1vw;
  cursor: pointer;
  transition: all 0.5s;
}

.back:hover{
  opacity: 1;
}


.button{
    /* font-family: 'Poppins', sans-serif; */
  text-transform: uppercase; 
  background-color: #FDC316;
  padding: 1vw 3vw;
  border-radius: 100vw;
  font-size: 1.1vw;
  color: white;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 1s;

}

.button > img{
  width:  0;
  margin-left: 0.5vw;
  visibility: hidden;
  transition: all 1s;
}
.button:hover > img{
  width:  1.5vw;
  margin-left: 0.5vw;
  visibility: visible;
}

.imageContainer{
  display: flex;
  flex-direction: row;
}

.imageContainer > img:first-of-type{
  width: 20vw;
  height: 30vw;
}

.imageContainer > img{
  width: 10vw;
  height: 15vw;
  object-fit: cover;
  margin-left: 2vw;
  transition: all 0.5s;
}



.absolute {
  position: absolute;
  top: calc(10vh + 15vw + 2vh);
  right: 0;

}
.absolute > .day{
  opacity: 0.6;
  transition: all 0.5s;
  cursor: pointer;
}
.absolute > .day:hover{
  opacity: 1;
}

.type{
  font-size: 1vw;
  text-transform: uppercase;
}

.imageContainer2{

width: 30vw;
height: 40vw;
overflow: hidden;
position: relative;
}

.imageContainer2 > img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.imageContainer2 > img:first-of-type{
  opacity: 1;
  visibility: visible;
}

.column > h2{
  font-size: 1.5vw;
  color: #2C2F34;
    /* font-family: 'Poppins', sans-serif; */

}

.imageContainer3{
  display: flex;
  flex-direction: column;
}
.overlay{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: rgba(253,195,22,0.2);
  z-index: 40;
  visibility: visible;
  opacity: 1;
  transition: all 1s;

}

.overlayHidden{
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.rowSlider{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.imageContainer3 img{
  width: 49.5vw;
  height: 30vw;
  margin-top: 3vh;
  object-fit: cover;
}

.border{
  border-left: 1px solid #2C2F34;

}

.column.border{
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.item{
  width: 100%;
  padding: 2vh 1vw;
  padding-bottom: 4vh;
  cursor: pointer;
  transition: all 0.5s;
}

.item:hover{
  background-color: rgba(253,195,22,0.15);
}
.item.selected{
  background-color: rgba(253,195,22,0.25);
}

.page.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.page.center > p{
  font-size: 1.2vw;
  text-align: center;
  max-width: 60%;
}

.imageContainer4{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 5vh;
}

.imageContainer4 > img{
width: 30vw;
height: 40vw;
}

.rowComponent{
  display: flex;
  flex-direction: row !important;
  overflow: hidden;
  margin-top: 10vh;
  
}

.event{
  background-color: pink;
  width: 100vw;
  min-width: calc(100vw - 20px);
}
  @media (min-width: 768px) and (max-width: 1024px) {
 


  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  
  
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    /* .page{
      width: 100vw;
    } */

  }
  
  @media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {


    
  }

  @media (min-width: 320px) and (max-width: 480px) {

    .row:first-of-type{
      flex-direction: column-reverse !important;
      min-height: fit-content !important;
      margin-top: 0vh;
    
    }

    .row{
      flex-direction: column !important;
      min-height: fit-content !important;
      margin-top: 10vh;
    
    }

    .row2{
      flex-direction: column !important;
      min-height: fit-content !important;
      margin-top: 2vh;
    
    }

   
    .row2 > .column{
      padding-top: 0;
    }

    .imageContainer2{
      width: 100%;
      margin-bottom: 5vh;
    }

    .imageContainer3{

      width: 100%;
    }

    .column > h2{
      font-size: 4vw;
    }
    .imageContainer3 img{
      width: 100%;
      height:57vw
      
    }
.center > p{
  font-size: 4vw !important;
  max-width: 100% !important;
}


.page{
  min-height: fit-content;
}
   .row > .column{
padding-left: 0 !important;
    }
    .row2 > .column{
      padding-left: 0 !important;
          }
          .row2 > .column:last-of-type{
            margin-top: 5vh !important;
            border: none;
                }

    .imageContainer > img:first-of-type{
      width: 50vw;
    height: 70vw;
    }
    .column{
      width: 100%;
      padding-top: 5vh;
      height: fit-content;
    }

    .row > .column:first-of-type {
height: 100%;

    }


    .row2 > .column:first-of-type {
      height: 100%;
      
          }

    .back{
      font-size: 4vw;
      padding: 1vw 2vw;
    }

    .info{
      width:90%;
    }
    .totalDays >h3{
      font-size: 3vw;
    }

    .info > h3 {
      font-size: 12vw;
    }
 
    .button{
      font-size: 4vw;
      padding: 1.5vw 3vw;
    }

    .type{
      font-size: 2.5vw;
    }
    
    .page p{
      font-size: 4vw;
    }

    .day{
      width: 8vw;
      height: 8vw;
    }
    .day:first-of-type{
      margin-right: 1vw;
    }
    .imageContainer > img{
      width: 20vw;
    height: 30vw;
    }

    

    .absolute{
      top: calc(10vh + 30vw + 2vh);
    }


  
  }
  
  @media (min-width: 320px) and (max-width: 480px) and (orientation: landscape)  {
  

  
  }

    
  @media  (max-width: 480px) {
 
.optionsContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.options{
  display: flex;
  flex-direction: row;
  padding: 3vw 2vw;
  /* border-radius: 1vw; */
  border-bottom: 1px solid #2C2F34;
}

.option{
  padding: 1vw 0vw;
  background-color: transparent;
  border: 1px solid #2C2F34;
  margin-left: 1vw;
  width: 28vw;
  text-align: center;
  margin-right: 1vw;
  border-radius: 100vw;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.5s;
}

.option:hover{
  opacity: 1;
}

.option.selectedOption{
  background-color: #FDC316;
  opacity: 1;
  border: 1px solid transparent;
}

.option.selectedOption > h2{
  color: #2C2F34;

}
.option >h2{
  font-size: 3vw;
  text-transform: uppercase;
  color: #2C2F34;
  opacity:1;
  

}





}


@media (min-width: 481px) and (max-width: 767px) {
  /* .page{
    width: 100vw;
  } */
  .destinationCard{
    width: 80vw;
    height: 100vw;
    margin-bottom: 10vh;

  }

  .destinationCard  img {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .whiteGradient{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
  }

  .whiteGradientNotActive{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

  }



  .price{
    height: 10%;
    width: 100%;
    top:auto;
    bottom: 0;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .destinationCard:hover .price{
    height: 35%;
    width: 100%;
     }

     .cardInfo{
      top:35%;
      left:5%;
      width: 100%;
      color: #2C2F34;
  
    }

    .cardInfo h3{
      font-size: 8vw;
      line-height: 1.1;
    }
    .cardInfo h2{
      font-size: 5vw;
      line-height: 1.1;
    }

    .price h1{
      font-size: 10vw;
    }
    .price h2{
      font-size: 3vw;
    }

    .price button{
      font-size: 3vw;
      padding: 0.5vw 2vw;
      width: fit-content;
      margin-top: 1vh;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }

    .close{
      width: 3vw;
      height: 3vw;
      top: 3vw;
      right: 3vw;
    }

    .button >h2{
      font-size: 1.5vw !important;
    }

    .item > h5{
      font-size: 1.5vw;
    }

    .item > h2{
      font-size: 1.5vw;
    }

    .close:hover{
      width: 3.5vw;
      height: 3.5vw;
    }

    .modalContent h3{
      font-size: 2vw;
    }

    .modalContent h2{
      font-size: 3vw;

    }

    .month h4{
      font-size: 1.5vw;
    }

    .month{
      padding: 2vw 4vw;
    }

    .modal    .item{
      padding: 2vw 3vw;
    }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  /* .page{
    width: 100vw;
  } */
  .destinationCard{
    width: 90vw;
    height: 30vw;
    margin-bottom: 10vh;

  }

  .destinationCard  img {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .whiteGradient{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
  }

  .whiteGradientNotActive{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

  }

  .price{
    height: 100%;
    width: 5%;
    top:auto;
    bottom: 0;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .destinationCard:hover .price{
    height: 100%;
    width: 30%;
     }

     .cardInfo{
      top:10%;
      left:30%;
      width: 90%;
      color: #2C2F34;
  
    }

    .cardInfo h3{
      font-size: 2vw;
      line-height: 1.1;
    }
    .cardInfo h2{
      font-size: 4vw;
      line-height: 1.1;
    }

    .price h1{
      font-size: 5vw;
    }
    .price h2{
      font-size: 2vw;
    }

    .price button{
      font-size: 2vw;
      padding: 0.5vw 2vw;
      width: fit-content;
      margin-top: 1vh;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }

    .close{
      width: 3vw;
      height: 3vw;
      top: 3vw;
      right: 3vw;
    }

    .button >h2{
      font-size: 1.5vw !important;
    }

    .item > h5{
      font-size: 1.5vw;
    }

    .item > h2{
      font-size: 1.5vw;
    }

    .close:hover{
      width: 3.5vw;
      height: 3.5vw;
    }

    .modalContent h3{
      font-size: 2vw;
    }

    .modalContent h2{
      font-size: 3vw;
    }

    .month h4{
      font-size: 1.5vw;
    }

    .modal     .month{
      padding: 2vw 4vw;
    }

    .modal   .item{
      padding: 2vw 3vw;
    }
  
}

@media (min-width: 320px) and (max-width: 480px) {
  /* .page{
    width: 100vw;
  } */
  .destinationCard{
    width: 80vw;
    height: 80vw;
    margin-bottom: 5vh;

  }

  .destinationCard  img {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .whiteGradient{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
  }

  .whiteGradientNotActive{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

  }

  .price{
    height: 10%;
    width: 100%;
    top:auto;
    bottom: 0;
    border-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .destinationCard:hover .price{
    height: 45%;
    width: 100%;
     }

     .cardInfo{
      top:35%;
      left:5%;
      width: 100%;
      color: #2C2F34;
  
    }

    .cardInfo h2{
      font-size: 6.5vw;
      line-height: 1.1;
    }
    .cardInfo h3{
      font-size: 5vw;
      line-height: 1.1;
    }

    .price h1{
      font-size: 10vw;
    }
    .price h2{
      font-size: 3vw;
    }

    .price button{
      font-size: 3vw;
      padding: 0.5vw 2vw;
      width: fit-content;
      margin-top: 1vh;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }

    .modal{
      width: 100vw;
    }

    .close{
      width: 5vw;
      height: 5vw;
      top: 5vw;
      right: 5vw;
    }

    .button >h2{
      font-size: 3vw !important;
    }

    .modal   .item > h5{
      font-size: 3vw;
    }

    .modal   .item > h2{
      font-size: 3vw;
    }

    .close:hover{
      width: 5.5vw;
      height: 5.5vw;
    }

    .modalContent h3{
      font-size: 4vw;
    }

    .modalContent h2{
      font-size: 6vw;
    }

    .modal    .month h4{
      font-size: 4vw;
    }

    .modal    .month{
      padding: 2vw 4vw;
    }

    .modal .item{
      padding: 4vw 5vw;
    }

    .notActive{
      font-size: 4vw;
      padding: 1vw 3vw;
    }
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape)  {
    /* .page{
    width: 100vw;
  } */
  .destinationCard{
    width: 90vw;
    height: 40vw;
    margin-bottom: 10vh;

  }

  .destinationCard  img {
    width: 40%;
    height: 100%;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
  }

  .whiteGradient{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 1.77%, rgba(255, 255, 255, 0.50) 20.77%, #FFF 30%);
  }

  .whiteGradientNotActive{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) 0%, #FFF 30%);

  }

  .price{
    height: 100%;
    width: 5%;
    top:auto;
    bottom: 0;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .destinationCard:hover .price{
    height: 100%;
    width: 40%;
     }

     .cardInfo{
      top:10%;
      left:35%;
      width: 100%;
      color: #2C2F34;
  
    }

    .cardInfo h3{
      font-size: 3vw;
      line-height: 1.1;
    }
    .cardInfo h2{
      font-size: 6vw;
      line-height: 1.1;
    }

    .price h1{
      font-size: 8vw;
    }
    .price h2{
      font-size: 2vw;
    }

    .price button{
      font-size: 2vw;
      padding: 0.5vw 2vw;
      width: fit-content;
      margin-top: 3vh;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
    }


}